
/*****SKILL SECTION*****/

.skill {
    margin-top: 30px;
    font-size: 17px;
}

.skill span {
    float: right;
}

.skill div {
    width: 100%;
    float: left;
    margin-top: 5px;
    background: #b9d6c0;
    border-radius: 10px;
}

.skill div span {
    background: #65e3b9;
    height: 5px;
    float: left;
}

div[role="progressbar"] {
    color: #55835f;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 100px;
    ;
    height: 100px;
    ;
    border-radius: 50%;
    place-items: center;
    display: grid;
    --pgPercentage: var(--value);
    background: radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0), conic-gradient(#6fcea3 calc(var(--pgPercentage) * 1%), #ffffff 0);
}


/*****EXPERIENCE SECTION*****/

.bg-lightgrey {
    background-color: #1a1a1a;
}

.edu-exp {
    padding: 10px 0px;
    width: 48%;
    margin: 1%;
    float: left;
    padding-left: 10px;
}

.experience-list {
    width: 100%;
    float: left;
    padding: 30px 10px;
    background: #3d5e44;
    margin-bottom: 20px;
}

.experience-content {
    width: 100%;
    float: left;
    margin-left: 10px;
}

.experience-content h2 {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 20px;
}

.experience-content h3 {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 17px;
}

.experience-content p {
    font-size: 15px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    text-align: center;
    background-color: #222222;
    color: #ffffff;
    padding: 2rem 0 2rem 0;
}

.contact {
    text-align: center;
    margin: 2.5rem 0 2rem 0;
}

.contact form * {
    width: 80%;
    max-width: 500px;
    margin: 0.2rem;
    border-radius: 16px;
    border-style: groove;
    padding: 0.5rem;
}

.contact form button {
    background: rgb(95, 126, 92);
    color: white;
    font-size: 1.3rem;
}

.contact h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.projects-content {
    display: flex;
    /* flex-wrap: wrap;  */
    gap: 1rem;
    padding: 2rem;
}

.projects-content .pc-1 img {
    max-width: 400px;
}

.projects h2 {
    font-size: 3rem;
    margin: 2rem 0 1rem 2rem;
    padding: 1.5rem;
}

.projects {
    background-color: black;
    color: white;
}

.header {
    height: 100vh;
    background-color: #eeeeee;
    background-image: url("./OIP.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    padding: 8rem 0 2rem 0;
    text-shadow: 2px 12px black;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.header-content .hc-1 {
    max-width: 800px;
    margin: 3rem auto 0 auto;
}

.header-content .hc-2 img {
    border-radius: 50%;
    margin: 0 0 0 3rem;
    position: absolute;
    top: 30;
    right: 30;
    width:300px;
}

@media only screen and (max-width: 600px) {
    .projects-content {
        flex-wrap: wrap;
    }
    .header {
        height: auto;
        text-align: center;
    }
    .header-content .hc-2 img {
        margin: 1rem 6rem 4rem 8rem;
        position: relative;
    }
}